/* components/Contacts/Contacts.module.css */
.contacts {
    text-align: center;
    background-color: #fef8db; /* Добавляем фоновый цвет */
    padding: 20px; /* Добавляем внутренние отступы для улучшения внешнего вида */
    border-radius: 10px; /* Скругляем углы */
  }
  
  .contactList {
    display: flex;
    justify-content: center; /* Центрируем элементы по горизонтали */
    gap: 20px; /* Добавляем промежуток между элементами */
    
    background-color: #fef8db;
  }

  .contactItem {
    font-size: 1.2rem;
    font-weight: 500;
    color: black; /* Устанавливаем цвет текста на черный */
    text-decoration: none; /* Убираем подчеркивание */
  }
  
  
  .contactList a {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #fef8db;
  }

  h2{
    background-color: #fef8db;
  }
  